body {
  font-family: monospace;
  color: rgb(0, 30, 128);
  text-decoration: none;
  background-image: url("img/homepage-wave-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 87px;
  font-weight: bold;
  position: absolute;
  left: 17%;
  text-align: center;
  align-items: center;
  background: transparent;
  border-radius: 50px;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 67%;
  backdrop-filter: blur(3px);
  color: rgb(0, 30, 128);
}

h1 {
  box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.4),
    -7px -7px 10px 0 rgba(8, 97, 230, 0.5);
  transition: box-shadow 2s ease;
}

button,
p {
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 0px 0px 0px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 1s ease;
  color: rgb(0, 30, 128);
  font-family: monospace;
}

input {
  box-shadow: inset 7px 7px 10px 0 rgba(0, 0, 0, 0.4),
    inset -7px -7px 10px 0 rgba(8, 97, 230, 0.5);
  transition: box-shadow 2s ease;
  font-family: monospace;
}

input {
  text-align: center;
  position: absolute;
  left: 37%;
  top: 40%;
  width: 500px;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 25px;
  border-style: none;
  font-weight: 400;
  background: transparent;
  backdrop-filter: blur(3px);
  outline: none;
  color: rgb(0, 30, 128);
}

.word_in {
  align-self: start;
  align-items: center;
  outline: none;
}

.definition {
  align-self: start;
  position: absolute;
  top: 70%;
  align-items: center;
  outline: none;
  color: rgb(0, 30, 128);
}

button {
  text-align: center;
  position: absolute;
  left: 42.5%;
  top: 50%;
  width: 300px;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 25px;
  border-style: none;
  background: transparent;
  outline: none;
}

button:disabled {
  backdrop-filter: none;
  filter: blur(3px);
  color: rgb(0, 30, 128);
}

button:enabled {
  backdrop-filter: blur(3px);
  filter: none;
  color: rgb(0, 30, 128);

  box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.4),
    -7px -7px 10px 0 rgba(48, 128, 247, 0.5),
    inset -2px -2px 3px 1px rgba(0, 0, 0, 0.2),
   inset -2px -2px 3px 1px rgba(8, 97, 230, 0.2);
  transition: box-shadow 0.7s ease;
}

button:active {
  box-shadow: inset 7px 7px 10px 0 rgba(0, 0, 0, 0.4),
    inset -7px -7px 10px 0 rgba(8, 97, 230, 0.5),
    -2px -2px 3px 1px rgba(0, 0, 0, 0.2),
    -2px -2px 3px 1px rgba(8, 97, 230, 0.2);
  transition: box-shadow 2s ease;
}

p {
  position: absolute;
  top: 70%;
  left: 17%;
  text-align: center;
  align-items: center;
  background: transparent;
  border-radius: 50px;
  border: none;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 67%;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  backdrop-filter: blur(3px);
  overflow: auto;
}

p:empty {
  backdrop-filter: none;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* For mobile phones: */
  body {
    font-family: monospace;
    color: rgb(0, 30, 128);
    text-decoration: none;
    background-image: url("img/mobilebackg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: 200px;
    height: 100vh;
    justify-content: center;
    padding: 1rem;
  }
  h1 {
    font-size: 87px;
    font-weight: bold;
    position: absolute;
    left: 17%;
    text-align: center;
    align-items: center;
    background: transparent;
    border-radius: 50px;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 67%;
    backdrop-filter: blur(3px);
    color: rgb(0, 30, 128);
    transition: all 0.7s ease;
  }
  
  h1 {
    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.4),
      -7px -7px 10px 0 rgba(8, 97, 230, 0.5);
    transition: box-shadow 2s ease;
  }
  
  button,
  p {
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 0px 0px 0px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 1s ease;
    color: rgb(0, 30, 128);
    font-family: monospace;
  }
  
  input {
    box-shadow: inset 7px 7px 10px 0 rgba(0, 0, 0, 0.4),
      inset -7px -7px 10px 0 rgba(8, 97, 230, 0.5);
    transition: box-shadow 2s ease;
    font-family: monospace;
  }
  
  input {
    text-align: center;
    position: absolute;
    left: 37%;
    top: 40%;
    width: 500px;
    height: 70px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 25px;
    border-style: none;
    font-weight: 400;
    background: transparent;
    backdrop-filter: blur(3px);
    outline: none;
    color: rgb(0, 30, 128);
  }
  
  .word_in {
    align-self: start;
    align-items: center;
    outline: none;
  }
  
  .definition {
    align-self: start;
    position: absolute;
    top: 70%;
    align-items: center;
    outline: none;
    color: rgb(0, 30, 128);
  }
  
  button {
    text-align: center;
    position: absolute;
    left: 42.5%;
    top: 50%;
    width: 300px;
    height: 70px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 25px;
    border-style: none;
    background: transparent;
    outline: none;
  }
  
  button:disabled {
    backdrop-filter: none;
    filter: blur(3px);
    color: rgb(0, 30, 128);
  }
  
  button:enabled {
    backdrop-filter: blur(3px);
    filter: none;
    color: rgb(0, 30, 128);
  
    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.4),
      -7px -7px 10px 0 rgba(48, 128, 247, 0.5),
      inset -2px -2px 3px 1px rgba(0, 0, 0, 0.2),
     inset -2px -2px 3px 1px rgba(8, 97, 230, 0.2);
    transition: all 0.7s ease;
  }
  
  button:active {
    box-shadow: inset 7px 7px 10px 0 rgba(0, 0, 0, 0.4),
      inset -7px -7px 10px 0 rgba(8, 97, 230, 0.5),
      -2px -2px 3px 1px rgba(0, 0, 0, 0.2),
      -2px -2px 3px 1px rgba(8, 97, 230, 0.2);
    transition: box-shadow 2s ease;
  }
  
  p {
    position: absolute;
    top: 70%;
    left: 17%;
    text-align: center;
    align-items: center;
    background: transparent;
    border-radius: 50px;
    border: none;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 67%;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    backdrop-filter: blur(3px);
    overflow: auto;
  }
  
  p:empty {
    backdrop-filter: none;
  }
}
